body {
    /*background: url("../imgs/Wave.jpeg");*/
    background: url("https://iili.io/HG2MPpa.md.png");
    background-size: cover;
}

.text{
    color: lime;
    text-align: center
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    width: 700px;
    height: 350px;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.search-btn{
    border-color: lime;
    color: lime;
}

.nav-txt{
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: lime;
}

.center {
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-bg{
    background-color: black;
    width: 18rem;
}

.card-txt{
    color: lime;
}

.card-border{
    border-style: solid;
    border-color: lime;
    border-width: 4px;
}

.card-btn{
    color: lime;
    background-color: #631c6c
}


