@import url("https://fonts.googleapis.com/css2?family=Montserrat%7CRaleway");

body{
    background-color: #252525;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    color: whitesmoke;
}
.grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 26px;
}