body {
    padding-top: 0;
    font-size: 12px;
    color: #777;
    background: #f9f9f9;
    font-family: 'Open Sans',sans-serif;
    margin-top:20px;
}

.panel {
    position: relative;
    background: #fff;
}

.image-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
}

.blog-container a:not(.btn) {
    color: #999;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.image-wrapper img {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

.image-wrapper:hover .image-overlay {
    opacity: .9;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #3c8dbc;
    background-image: -moz-linear-gradient(top,#5fa4cc,#3c8dbc);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#5fa4cc),to(#3c8dbc));
    background-image: -webkit-linear-gradient(top,#5fa4cc,#3c8dbc);
    background-image: -o-linear-gradient(top,#5fa4cc,#3c8dbc);
    background-image: linear-gradient(to bottom,#5fa4cc,#3c8dbc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5fa4cc, endColorstr=#3c8dbc, GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 6px solid #296282;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

.post-like {
    float: right;
    cursor: pointer;
}

.headline {
    margin: 20px 0;
    padding: 5px 0 10px;
    border-bottom: 1px solid #eee;
    font-weight: 500;
}

h4, .h4 {
    font-size: 18px;
}

.media, .media-body {
    overflow: hidden;
    zoom: 1;
}