.redirect{

}

.cmh{
    max-height: 70vh;
}

.cmw{
    max-width: 60vw;
}

.dmx{
    max-height: 5vh;
}

.unstyle{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

h1 {
    font-family:arial;
    font-weight:900;
    font-size:100px;
    text-transform:uppercase;
    text-shadow: 1px 1px 2px yellow, 0 0 1em lightpink, 0 0 0.2em yellow;
    text-align: center;
}

body {
    background-color: hsl(34, 53%, 82%);
    background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
    hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
    hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
    hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
    hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
    hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
    ),
    repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
            hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
            hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
            hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
            hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
            hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px
    );
}

.row-cols-1 {
margin: 0;
text-align: center;
padding-top: 2%;
font-family: "Segoe UI light", "Segoe UI", "Helvetica";
}
.bgt {
    color: #fff;
    background: repeating-linear-gradient(50deg, #333333 0, #333333 5%, #4f4f4f 0, #4f4f4f 50%) 0 / 10px 10px;
}

.navbar-brand:hover {
    color: white;
    font-family: Arial;
    font-weight: bold;
    background-color: peachpuff;
}
.navbar-brand {
    color: white;
    font-size: 35px;
}
.nav-link:hover {
    font-family: Arial;
    font-weight: bold;
    background-color: peachpuff;
}
.nav-link {
    color: white;
    font-size: 35px;
}

.typing.animate {
    width: 21ch;
    margin: auto;
    padding-top: 10px;
    border-right: 0.1em solid black;
    font-family: monospace;
    font-size: 5em;
    border-style: ridge;
    text-align: center;
    background-color: #E6ECF0;
    animation: type 2.6s steps(10), writer 1s infinite alternate, delete 0.5s steps(5) 2.5s, type2 1s steps(4) 3s forwards, type3 3s steps(22, end) 6s forwards;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.typing.animate::before {
    content: "Hello, welcome to Nick's website...";
    animation: type2 4s steps(4) 3s forwards, type3 3s steps(22, end) 6s forwards;
}

@keyframes type {
    from {
        width: 0;
    }
    to {
        width: 35ch;
    }
}

@keyframes type2 {
    from {
        width: 18ch;
        content: "Created by Nick... "
    }
    to {
        width: 21ch;
        content: "Hello, created by US! "
    }
}

@keyframes type3 {
    from {
        width: 19ch;
        content: "Hello, welcome to OUR website!"
    }
    to {
        width: 59ch;
        content: "Hello, this website was created by Nick, Issac and Crystal!"
    }
}

@keyframes writer {
    50% {
        border-color: transparent;
    }
}

@keyframes delete {
    from {
        width: 20ch;
    }
    to {
        width: 16ch;
    }
}

/* CSS For Profile.jsp */
:root {
    --main-bg: #E6ECF0;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
}
.profile-Body, html {
    background-color: var(--main-bg);
    line-height: 100%;
    height: 100%;
    width: 100%;
    margin-right: 0;
    padding: 0;
    color: black;
}
header {
    background-image: url("https://picsum.photos/1200/300");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;
}
.nav li {
    display: inline-block;
    padding: 1.5em;
}
.profile-image{
    position: absolute;
    top: -28px;
}
.profile {
    background: var(--light-bg);
    height: 80px;
    position: relative;
}
.profile-entry {
    margin: .5em;
}
.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);
}
.info{
    margin-right: 2em;
}
.profile-details{
    text-align: center;
}
.profile-items {
    padding: 0;
    list-style: none;
}
h3, h2{
    text-align: center;
}
.container{
    margin: 2em 0 0 0;
}

